# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
flask-login
elasticsearch>=1.0.0,<2.0.0
Flask-WTF
certifi
requests
Flask==2.3.2
logging
