{% extends "base.html" %}
{% block title %}Leads | Savage Leads{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form>
        <input type="text" placeholder="Search your leads" class="form-control">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Email</th><th>First Name</th><th>Last Name</th><th>Company</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>test@example.com</td>
            <td>First</td>
            <td>Last</td>
            <td>Company</td>
          </tr>
          <tr>
            <td>test@example.com</td>
            <td>First</td>
            <td>Last</td>
            <td>Company</td>
          </tr>
          <tr>
            <td>test@example.com</td>
            <td>First</td>
            <td>Last</td>
            <td>Company</td>
          </tr>
          <tr>
            <td>test@example.com</td>
            <td>First</td>
            <td>Last</td>
            <td>Company</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
