{% extends "base.html" %}
{% block title %}Login | Savage Leads | SavageAutomation{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <p />
          {% for message in messages %}
            <p><mark>{{ message }}</mark></p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>
        <a href="{{link}}" role="button">
          <img src="/static/images/google-signin-long/Red-signin-Long-base-44dp.png" style="max-width:70%" class="google-button"/>
        </a>
      </h2>
    </div>
  </div>
</div>
{% endblock %}
