{% extends "base.html" %}
{% block title %}Register | Savage Leads | SavageAutomation{% endblock %}
{% block head %}
  {{ super() }}
  <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js"></script>
{% endblock %}
{% block content %}
<div class="col-md-offset-3 col-md-5 text-left">
  <h2>Register</h2>
  <form id="registerForm" action="" method="post" name="register">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label text-right">Email:</label>
        <div class="col-sm-9">
          {{ form.email(class_='form-control',placeholder_='Email') }}
          {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label text-right">Password:</label>
        <div class="col-sm-9">
          {{ form.password(class_='form-control',placeholder_='Password') }}
          {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <button type="submit" class="btn btn-default">Register Now</button>
        </div>
      </div>
  </form>
</div>
{% endblock %}
